

.portfolio-contact {
  display: grid;
  grid-template-areas: 
  "name email"
  "subject subject"
  "message message";
  grid-template-rows: 25px 30px 80px;
  position: relative;
  width: 500px;
  max-width: 90vw;
}

#name {grid-area: name;}
#email {grid-area:email;}
#subject {grid-area:subject;}
#message {grid-area:message;}

#name,
#email,
#subject {
  text-align: center;
}

#message {
  text-align: center;
  resize: none;
  padding-top: 5px;
}

textarea::placeholder {
  line-height: 60px;
  font-size: 30px;
}

.asterisk-span {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 5;
}

#message-asterisk {
  top: 80px;
}

.submit-contact {
  background-color: #393939;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.submit-contact:hover {
  opacity: 95%;
}

.email-input.shake,
.message-input.shake {
  animation-name: shake;
  animation-duration: 500ms;
  border-color: red;
}

@keyframes shake {
  0% {transform: translateX(-2px)}
  10% {transform: translateX(2px)}
  20% {transform: translateX(-2px)}
  30% {transform: translateX(2px)}
  40% {transform: translateX(-2px)}
  50% {transform: translateX(2px)}
  60% {transform: translateX(-2px)}
  70% {transform: translateX(2px)}
  80% {transform: translateX(-2px)}
  90% {transform: translateX(1px)}
  100% {transform: translateX(0)}
}