:root {
  --card-size: 250px;
}

.card-container {
  display: grid;
  grid-template-areas: 
  'main main main'
  'cc tl st';
  justify-content: center;
  width: 750px;
  height: 750px;
  max-width: 90vw;
  grid-template-rows: 1.5fr 1fr 1fr;
}

.project-card {
  display: flex;
  border: 1px solid black;
  background-position: top;
  background-size: cover;
  background-position: top right;
  border-radius: 5px;
  margin: 5px;
}

.project-card:first-child {
  grid-area: main;
  background-image: url('../../../assets/llregnskab.jpg');
}

.project-card:nth-child(2) {
  grid-area: cc;
  background-image: url('../../../assets/converter.jpg');
}
.project-card:nth-child(3) {
  grid-area: tl;
  background-image: url('../../../assets/todo-list.jpg');
  background-position: center;
}
.project-card:nth-child(4) {
  grid-area: st;
  background-image: url('../../../assets/speedtype.jpg');
  background-position: center;
}


.card-hover {
  display: grid;
  grid-template-areas: 
  'name name'
  'description description'
  'a link';
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
}



.card-hover h2 {
  grid-area: name;
  margin-top: 10px;
}
.card-hover p {grid-area: description;}
.github-link {
  grid-area: a;
  right: 0;
  position: absolute;
}
.page-link {grid-area: link;} 

.card-hover h2,
.card-hover p {
  color: white;
  text-shadow:  1px 1px 1px rgba(0, 0, 0, 1);
}

.card-hover a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4E4E4E;
  border-radius: 10px;
  color: white;
  height: 30px;
  width: 80px;
  margin: 5px;
}


.card-hover a:hover {
  background-color: #696969;
}

.project-card:hover > .card-hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .card-container {
    grid-template-areas: 
    'main main'
    'cc tl'
    'st blank';
    height: 500px;
  }
}