.linear-gradient-angle {
  content: '';
  display: flex;
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--linear-diagonal);
  border-top-left-radius: 5px;
  z-index: -2;
}

.linear-gradient-angle::before {
  content: '';
  display: flex;
  position: relative;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-top-left-radius: 5px;
  z-index: -1;
}

.linear-gradient-angle::after {
  content: '';
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 200px solid var(--bg-color);
  border-left: 200px solid transparent;
  z-index: -1;
}

.linear-gradient-angle.tl {
  top: 0;
  left: 0;
}

.linear-gradient-angle.br {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

.linear-gradient-angle.sm,
.linear-gradient-angle.smb {
  height: 100px;
  width: 100px;
  border-top-left-radius: 10px;
  position: absolute;
}

.linear-gradient-angle.sm::after,
.linear-gradient-angle.smb::after {
  border-bottom: 100px solid var(--bg-color);
  border-left: 100px solid transparent;
}

.linear-gradient-angle.sm::before,
.linear-gradient-angle.smb::before {
  top: 7px;
  left: 7px;
  border-top-left-radius: 7px;
}

.linear-gradient-angle.sm {
  top: 50px;
  left: 0;
}

.linear-gradient-angle.smb {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}