:root {
  --bg-color: #171717;
  --border-color: #000000;
  --theme-cyan: #0AC9FF;
  --theme-gray: #6A6A6A;
  --linear-diagonal:  linear-gradient(135deg, rgba(10,201,255,1) 15%, rgba(142,142,153,1) 40%);

  --linear-straight:  linear-gradient(90deg, rgba(10,201,255,1) 20%, rgba(142,142,153,1) 80%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
